schema/PropLibrary.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="library">
    <xs:complexType>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="prop-group">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="prop">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="mesh">
                                        <xs:complexType>
                                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                <xs:element name="texture">
                                                    <xs:complexType>
                                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                                        <xs:attribute name="diffuse-map" type="xs:string" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="texture-ext-area">
                                                    <xs:complexType>
                                                        <xs:attribute name="x" type="xs:int" use="required"/>
                                                        <xs:attribute name="y" type="xs:int" use="required"/>
                                                        <xs:attribute name="width" type="xs:int" use="required"/>
                                                        <xs:attribute name="height" type="xs:int" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:choice>
                                            <xs:attribute name="file" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sprite">
                                        <xs:complexType>
                                            <xs:attribute name="file" type="xs:string" use="required"/>
                                            <xs:attribute name="origin-y" type="xs:float" use="required"/>
                                            <xs:attribute name="scale" type="xs:float" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>  
</xs:element>

</xs:schema>
