schema/TanksMap1.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="map">
    <xs:annotation>
        <xs:documentation>Root node of a Tanki Online map file.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
        <xs:all>
            <xs:element name="static-geometry">
                <xs:annotation>
                    <xs:documentation>Defines all the props placed within the map.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>A prop represents an individual object within the scene, multiple of the same prop can exist to define the same asset at a different position or with different texture.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="rotation">
                                        <xs:annotation>
                                            <xs:documentation>The latest Alternativa Editor available to the community (1.4.10) only supports z rotation but map files taken from late versions of Tanki Online (flash) include x and y rotation too.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float" minOccurs="0"/>
                                                <xs:element name="y" type="xs:float" minOccurs="0"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="texture-name" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Props may have multiple textures defined in library.xml, this element allows a prop to select a specific texture.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="position">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="library-name" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation>The name of the library this prop is part of.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="group-name" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation>The name of the group in the library this prop is part of.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="name" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation>The name of the prop in the group of the library.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="free" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:documentation>When true this prop is allowed to intersect with other map objects.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="collision-geometry">
                <xs:annotation>
                    <xs:documentation>Defines the collisions of the map, all the collision primitives are independent from the static geometry.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="collision-box" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="position">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="rotation">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="size">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="id" type="xs:int">
                                    <xs:annotation>
                                        <xs:documentation>Unknown purpose, the Alternativa Editor always sets this value to 0.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="collision-plane" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="width" type="xs:float"/>
                                    <xs:element name="length" type="xs:float"/>
                                    <xs:element name="position">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="rotation">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="id" type="xs:int">
                                    <xs:annotation>
                                        <xs:documentation>Unknown purpose, the Alternativa Editor always sets this value to 0.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="collision-triangle" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="v0">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="v1">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="v2">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="length" type="xs:float" minOccurs="0"/>
                                    <xs:element name="position">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="rotation">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="id" type="xs:int">
                                    <xs:annotation>
                                        <xs:documentation>Unknown purpose, the Alternativa Editor always sets this value to 0.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="spawn-points" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Collection of objects which define where tanks are allowed to spawn and in which gamemode.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="spawn-point" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="rotation">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="position">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="type" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bonus-regions" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Supply drop boxes.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bonus-region" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="rotation">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="min">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="max">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="position">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:sequence maxOccurs="unbounded">
                                        <xs:choice>
                                            <xs:element name="bonus-type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                            <xs:element name="game-mode" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" fixed="free-bonus" use="required"/>
                                <xs:attribute name="parachute" type="xs:boolean" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="special-geometry" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Defines a list of volumes which can perform special actions, this is not present in version 1.0.Light.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="special-box" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="minX" type="xs:float"/>
                                    <xs:element name="minY" type="xs:float"/>
                                    <xs:element name="minZ" type="xs:float"/>
                                    <xs:element name="maxX" type="xs:float"/>
                                    <xs:element name="maxY" type="xs:float"/>
                                    <xs:element name="maxZ" type="xs:float"/>
                                    <xs:element name="action" type="xs:string"/>
                                </xs:all>
                                <xs:attribute name="type" type="xs:string" fixed="special-geometry" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dom-keypoints" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Key points used in the domination game mode.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="dom-keypoint">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="position">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="x" type="xs:float"/>
                                                <xs:element name="y" type="xs:float"/>
                                                <xs:element name="z" type="xs:float"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="free" type="xs:boolean"/>
                                <xs:attribute name="name" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ctf-flags" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Location of team flags in the capture the flag gamemode.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="flag-blue">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="x" type="xs:float"/>
                                    <xs:element name="y" type="xs:float"/>
                                    <xs:element name="z" type="xs:float"/>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="flag-red">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="x" type="xs:float"/>
                                    <xs:element name="y" type="xs:float"/>
                                    <xs:element name="z" type="xs:float"/>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="version" type="xs:string">
            <xs:annotation>
                <xs:documentation>Can either be 1.0, 1.0.Light or not present at all (in which case the version can be assumed to be 1.0.Light) for latest maps from Tanki Online (flash).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:element>

</xs:schema>
